<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cargar archivo</title>
    <link href="/jslib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/jslib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />

    <link href="/jslib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/jslib/toastr/toastr.min.css" rel="stylesheet" />
</head>

<body>

<div ng-app="client" ng-controller="clientController">

    <h1>Personas en el servidor</h1>
    <p>Hay<b>{{products.length}} momentums</b> que se estan leyendo</p>
    <br />
    <hr />

    <h1>Selecciona el xlsx archivo con los datos</h1>
    <hr />
    <input class="form-control" type = "file" product-excel-upload ng-model="productExcel"/>
    <button ng-click="uploadProductExcel()">Upload Excel</button>

    <br />
    <hr />
<!--  
    <h1>Demo for CSV Upload</h1>

    <a href="/samples/products.csv" target="_blank">CSV Sample Download</a>

    <hr />

    <input class="form-control" type = "file" product-csv-upload ng-model="productCsv"/>
    <button ng-click="uploadProductCsv()">Upload CSV</button>
-->
</div>

<script src="/webjars/sockjs-client/0.3.4/sockjs.min.js"></script>

<script src="/jslib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/jslib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<script src="/jslib/angular/angular.min.js" type="text/javascript"></script>
<script src="/jslib/angular-route/angular-route.min.js" type="text/javascript"></script>
<script src="/jslib/angular-ui-bootstrap/ui-bootstrap.js" type="text/javascript"></script>
<script src="/jslib/angular-ui-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
<script src="/jslib/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>

<script src="/jslib/toastr/toastr.min.js" type="text/javascript"></script>
<script src="/jslib/stompjs/stomp.js" type="text/javascript"></script>

<script src="/js/client-module.js" type="text/javascript"></script>
<script src="/js/message-service.js" type="text/javascript"></script>
<script src="/js/upload-service.js" type="text/javascript"></script>
<script src="/js/product-service.js" type="text/javascript"></script>
<script src="/js/socket-service.js" type="text/javascript"></script>
<script src="/js/client-controller.js" type="text/javascript"></script>

</body>
</html>
